#carousel {
  position: absolute;
  height: 230px;
  width: 900px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.item {
  text-align: center;
  color: black;
  font-size: 18px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s,
    background-color 1s;
}

$level3-height: 120px;
$level3-width: 120px;
$level2-height: 150px;
$level2-width: 150px;
$level1-height: 180px;
$level1-width: 180px;
$level0-height: 220px;
$level0-width: 220px;

$level-3-left: 730px;
$level-2-left: 635px;
$level-1-left: 500px;
$level0-left: 340px;
$level1-left: 220px;
$level2-left: 115px;
$level3-left: 50px;

.level-3 {
  height: $level3-height;
  width: $level3-width;
  line-height: $level3-height;
  background-color: #ffffff;
  left: $level-3-left;
  margin-top: 50px;
  box-shadow: 3px 3px 29px 6px rgba(0, 0, 0, 0.75);
  z-index: 40;
}

.level-2 {
  height: $level2-height;
  width: $level2-width;
  line-height: $level2-height;
  background-color: #ffffff;
  left: $level-2-left;
  margin-top: 35px;
  box-shadow: 3px 3px 29px 6px rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.level-1 {
  height: $level1-height;
  width: $level1-width;
  line-height: $level1-height;
  background-color: #ffffff;
  left: $level-1-left;
  margin-top: 20px;
  box-shadow: 3px 3px 29px 6px rgba(0, 0, 0, 0.75);
  z-index: 60;
}

.level0 {
  height: $level0-height;
  width: $level0-width;
  line-height: $level0-height;
  background-color: rgb(255, 164, 181);
  font-size: 28px;
  color: #ffffff;
  left: $level0-left;
  box-shadow: 3px 3px 29px 6px rgba(0, 0, 0, 0.75);
  z-index: 70;
}

.level1 {
  height: $level1-height;
  width: $level1-width;
  line-height: $level1-height;
  background-color: #ffffff;
  margin-top: 20px;
  left: $level1-left;
  box-shadow: 3px 3px 29px 6px rgba(0, 0, 0, 0.75);
  z-index: 60;
}

.level2 {
  height: $level2-height;
  width: $level2-width;
  line-height: $level2-height;
  background-color: #ffffff;
  margin-top: 35px;
  left: $level2-left;
  box-shadow: 3px 3px 29px 6px rgba(0, 0, 0, 0.65);
  z-index: 50;
}

.level3 {
  height: $level3-height;
  width: $level3-width;
  line-height: $level3-height;
  background-color: #ffffff;
  margin-top: 50px;
  left: $level3-left;
  box-shadow: 3px 3px 29px 6px rgba(0, 0, 0, 0.65);
  z-index: 40;
}

.left-enter {
  opacity: 0;
  left: $level2-left - $level2-width;
  height: $level2-height - 30;
  width: $level2-width - 20;
  line-height: $level2-height - 30;
  margin-top: 40px;
}

.left-enter.left-enter-active {
  opacity: 1;
  left: $level2-left;
  height: $level2-height;
  width: $level2-width;
  line-height: $level2-height;
  margin-top: 25px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.left-leave {
  opacity: 1;
  left: $level-2-left;
  height: $level2-height;
  width: $level2-width;
  line-height: $level2-height;
  margin-top: 25px;
}

.left-leave.left-leave-active {
  left: $level-2-left + $level2-width + 20;
  opacity: 0;
  height: $level2-height - 30;
  line-height: 120px;
  margin-top: 40px;
  width: $level2-width - 20;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.right-enter {
  opacity: 0;
  left: $level-2-left + $level2-width;
  height: $level2-height - 30;
  width: $level2-width - 20;
  line-height: $level2-height - 30;
  margin-top: 40px;
}

.right-enter.right-enter-active {
  left: $level-2-left;
  opacity: 1;
  height: $level2-height;
  margin-top: 25px;
  line-height: $level2-height;
  width: $level2-width;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.right-leave {
  left: $level2-left;
  height: $level2-height;
  opacity: 1;
  margin-top: 25px;
  line-height: $level2-height;
  width: $level2-width;
}

.right-leave.right-leave-active {
  left: $level2-left - $level2-width;
  opacity: 0;
  height: $level2-height - 30;
  width: $level2-width - 20;
  line-height: $level2-height - 30;
  margin-top: 40px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
